            <div class="abrir-modal animacion fadeIn">
                <div class="modal" style="display: block;" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Carro de compras</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeCart()"></button>
                            </div>
                            <div class="modal-body">
                                    
                                      @if (items.length>0) {
                                
                                    <cart 
                                    [items]="items" 
                                    (idProductEventEmitter)="onDeleteCart($event)"></cart>
                                    }@else{
                                        <div class="alert alert-warning"> No hay elementos en el carro</div>
                                        
                                    }
                                 <!---   <button class="btn btn-secondary float-end btn-sm"
                                    (click)="openCart()"
                                    >X ({{items.length}})</button> -->

                            </div>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"   (click)="closeCart()" data-bs-dismiss="modal">Close({{items.length}})</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         